<app-navbar />
<div class="container py-3">
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold m-0">DailyLogs</h3>
    <button class="btn btn-primary px-4" (click)="open()">Create New</button>
  </div>
  <div class="row g-4 mb-4">
    <div class="col-md-3">
      <div class="stat-card" style="background:#0ea5e9;">
        <div class="stat-value">150</div>
        <div class="stat-label">New Orders</div>
        <i class="stat-icon bi bi-bag"></i>
        <div class="more-info">More info <i class="bi bi-arrow-right-circle"></i></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="stat-card" style="background:#22c55e;">
        <div class="stat-value">53%</div>
        <div class="stat-label">Bounce Rate</div>
        <i class="stat-icon bi bi-bar-chart-fill"></i>
        <div class="more-info">More info <i class="bi bi-arrow-right-circle"></i></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="stat-card" style="background:#facc15; color:#000;">
        <div class="stat-value">{{calculateTotalscore()}}</div>
        <div class="stat-label">TotalScore</div>
        <i class="stat-icon bi bi-person-plus-fill"></i>
        <div class="more-info">More info <i class="bi bi-arrow-right-circle"></i></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="stat-card" style="background:#ef4444;">
        <div class="stat-value">{{logs.length}}</div>
        <div class="stat-label">Total DailyLogs</div>
        <i class="stat-icon bi bi-pie-chart-fill"></i>
        <div class="more-info">More info <i class="bi bi-arrow-right-circle"></i></div>
      </div>


    </div>
  </div>
  <!-- Form -->
  <div *ngIf="form" class="card shadow-sm p-4 rounded-4 mb-4 border-0">
    <h5 class="fw-bold mb-3">{{ form.id ? 'Edit' : 'New' }} DailyLogs</h5>
    <form (submit)="addLogs($event)">
      <div class="row g-3">
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="mood" [(ngModel)]="form.mood" name="mood" />
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="topWins" [(ngModel)]="form.topWins" name="topWins" />
        </div>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="totalScore" [(ngModel)]="form.totalScore"
            name="totalScore" />
        </div>
      </div>
      <div class="d-flex justify-content-end gap-2 mt-4">
        <button type="button" class="btn btn-outline-secondary px-4" (click)="cancel()">
          Cancel
        </button>
        <button type="submit" class="btn btn-success px-4">Save</button>
      </div>
    </form>
  </div>
  <!-- Search + Filters Box -->
  <div class="card shadow-sm border-0 p-3 mb-4 rounded-4 bg-light">
    <div class="row g-3">
      <div class="col-md-4">
        <input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()" class="form-control"
          placeholder="Search DailyLogs..." />
      </div>
      <div class="col-md-3">
        <select class="form-select" [(ngModel)]="sortOrder" (change)=" onSortScore()">
          <option value="all">Show All (ASC)</option>
          <option value="asc">Sort ASC</option>
          <option value="desc">Sort DESC</option>
        </select>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary w-100">Search</button>
      </div>
    </div>
  </div>
  <!-- Table Card -->
  <div class="card shadow-sm border-0 rounded-4 p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="fw-bold m-0">DailyLogs</h5>
      <select class="form-select w-auto">
        <option>Show 10</option>
        <option>Show 20</option>
        <option>Show 50</option>
      </select>
    </div>

    <div class="table-responsive">
      <table class="table table-hover align-middle customTable">
        <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Mood</th>
            <th>Notes</th>
            <th>TopWins</th>
            <th>TotalScore</th>
            <th class="text-center" colspan="2">Actions</th>
          </tr>
        </thead>
        @defer { @if(logs.length !== 0){
        <tbody>
          @for (order of logs; track $index) {
          <tr [class.active]="order.totalScore>10" [class.inactive]="order.totalScore <10">
            <td><strong>{{ $index + 1 }}</strong></td>
            <td>{{ order.mood }}</td>
            <td>{{ order.notes }}</td>
            <td>{{ order.topWins }}</td>
            <td>
              <span class="badge bg-{{ order.totalScore>10 ? 'success' : 'danger' }}">
                {{ order.totalScore }}
              </span>
            </td>
            <td class="text-center">
              <button class="btn btn-sm btn-outline-primary me-2" (click)="edit(order)">
                Edit
              </button>
            </td>
            <td>
              <button class="btn btn-sm btn-outline-danger" (click)="deletedLogs(order._id)">
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
        } }@placeholder{
        <tbody>
          <tr>
            <td colspan="4" class="text-center">Loading Users...</td>
          </tr>
        </tbody>
        }
      </table>
    </div>
  </div>