.table-hover tbody tr:hover {
  background-color: #f5f7ff;
}

.card {
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.01);
}

table.customTable {
  background-color: transparent important;
}

s table.customTable tbody tr td {
  background-color: white !important;
}

.inactive {
  background-color: red;
}