<div class="container">
  <!--addUsers-->
  <div class="d-flex justify-content-between mb-2">
    <h3>Users</h3>
    <button class="btn btn-primary" (click)="openNew()">New Users</button>
  </div>
  <div *ngIf="form" class="card p-3 mt-3">
    <h5>{{form.id ? 'Edit' : 'New'}} Machine</h5>
    <form (submit)="addUser($event)">
      <input
        type="text"
        class="form-control mb-2"
        placeholder="Name"
        [(ngModel)]="form.username"
        name="name"
      />
      <input
        type="email"
        class="form-control mb-2"
        placeholder="Code"
        [(ngModel)]="form.email"
        name="code"
      />
      <input
        type="password"
        class="form-control mb-2"
        placeholder="password"
        [(ngModel)]="form.password"
        name="password"
      />
      <div class="d-flex justify-content-end gap-2">
        <button class="btn btn-secondary" type="button" (click)="cancel()">
          Cancel
        </button>
        <button class="btn btn-success" type="submit">Save</button>
      </div>
    </form>
  </div>

  <table class="table table-hover custom-table table-striped">
    <thead>
      <tr>
        <th>No#</th>
        <th>username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      @for (order of usersList; track $index) {
      <tr>
        <td><strong>{{ $index + 1 }}</strong></td>
        <td>{{ order.username }}</td>
        <td>{{ order.email }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteUser(order._id)">
            Delete
          </button>
        </td>
        <td>
          <button class="btn btn-primary" (click)="editUser(order)">
            Edit
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
