.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 998;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.blur-overlay.ng-leave,
.blur-overlay.ng-leave-active {
  opacity: 0;
}

.blur-overlay {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrapper-nav {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 99999;
  transition: all 0.4s ease;
  height: 100px;
  opacity: 0;
  visibility: hidden;
}
.wrapper-nav.active {
  opacity: 1;
  visibility: visible;
  top: 50px;
  height: 90vh;
}

.list-group {
  transition:
    background 0.3s,
    filter 0.3s;
}

.nav-link a {
  font-size: clamp(0.8rem, 5vw, 4.5rem);
  text-decoration: none;
  color: white;
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YEAR" 2000;
  transition: all 0.4s ease-in-out;
  padding: 30px;
  border-radius: 70px;
  filter: blur(3px);
}

.list-group .nav-link:first-of-type {
  filter: none;
}

.nav-link a:hover {
  background: #1a1f3a;
  filter: none;
  letter-spacing: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar {
  background: #1a1f3a;
}
